<%#
 Copyright 2010 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%-
	local ntm = require "luci.model.network".init()
	local fwm = require "luci.model.firewall".init()

	local net
	local ifaces = { }
	local netlist = { }
	for _, net in ipairs(ntm:get_networks()) do
		if net:name() ~= "loopback" then
			local z = fwm:get_zone_by_network(net:name())
			ifaces[#ifaces+1] = net:name()
			netlist[#netlist+1] = {
				net:name(), z and z:name() or "-", z
			}
		end
	end

	table.sort(netlist,
		function(a, b)
			if a[2] ~= b[2] then
				return a[2] < b[2]
			else
				return a[1] < b[1]
			end
		end)
-%>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">

	XHR.poll(5, '<%=url('admin/network/iface_status', table.concat(ifaces, ","))%>', null,
		function(x, ifcs) {
			if (ifcs) {
				for (var idx = 0; idx < ifcs.length; idx++){
					var ifc = ifcs[idx];
					var interface1 = document.getElementById(ifc.id);
					var ifs = [];
					if (ifc.subdevices && ifc.subdevices.length) {
						for (var j = 0; j < ifc.subdevices.length; j++) {
							var sif = ifc.subdevices[j];
							ifs.push(sif.ifname);				
						}	
					} else {							
						ifs.push(ifc.name);
					}
					interface1.value = ifs; 
				}
			}
		}
	);
</script>

<div class="cbi-map">
		<div class="table cbi-section-table" style="margin:10px; empty-cells:hide">
			<div class="tr cbi-section-table-titles">
				<div class="th left"><%:Virtual Interfaces%></div>
			</div>
			<%
				for i, net in ipairs(netlist) do
					local z = net[3]
					local c = z and z:get_color() or "#EEEEEE"
					local t = z and translate("Part of zone %q" % z:name()) or translate("No zone assigned")
			%>
				<div class="tr cbi-section-table-row cbi-rowstyle-<%=i % 2 + 1%>">
					<div class="td left">				
                 		<label><input type="radio" id='<%=net[1]%>' name="optradio" onclick="handleClick(this);" value="">
							<div class="ifacebox">
								<div class="ifacebox-head" style="background-color:<%=c%>" title="<%=pcdata(t)%>">
									<strong><%=net[1]:upper()%></strong>
								</div>
							</div>
						</label>
					</div>
				</div>
			<% end %>
		</div>

		<input type="button" class="cbi-button cbi-button-add" value="<%:Add new virtual interface...%>" onclick="location.href='<%=url("admin/network/iface_add")%>'" />
</div>

