
<% local DISP = require "luci.dispatcher"%>

<link rel="stylesheet" href="<%=resource%>/vrconfig/style.css">

<script>
	document.addEventListener('DOMContentLoaded', function() {
		var s = "<%=resource%>/vrconfig/annotations.json";
		readJSON(s);			
	}, false);
</script>
		
<div class="img-container">	
	<svg viewBox="0 0 1000 585" height="100%" width="100%" version="1.1" id="svg4160" xmlns="http://www.w3.org/2000/svg">
		<image width="1000" height="585" preserveAspectRatio="none" xlink:href="<%=resource%>/vrconfig/router.jpg" id="" />
	</svg>
</div>
		
<div id="tooltip" display="none"></div>
			
<script src="<%=resource%>/vrconfig/annotations.json"></script> 
	
<script>	
	XHR.poll(5, '<%=resource%>/vrconfig/ethernet-status.json', null,
	function(a,b){			
		var eth0 = b.eth0;
		var eth1 = b.eth1;
		var header0 = document.getElementById("eth0-header");
		var header1 = document.getElementById("eth1-header");
			
		if (eth0 == 0){
   			header0.style.stroke = "#DCDCDC";
		} else if (eth0 == 1){
			header0.style.stroke = "#90f090";
		}
			
		if (eth1 == 0){
			header1.style.stroke = "#DCDCDC";				
		} else if (eth1 == 1){
			header1.style.stroke = "#90f090";	
		}
		});
</script>
	
<script>	   		
	var currentValue = 0;
	function handleClick(myRadio) {
		
		console.log("myRadio:");
		console.log(myRadio);
    
   		currentValue = myRadio.value.split(',');
    		
   		console.log(currentValue);
    	
 
   		// Get all buttons with class="btn" inside the container
		var paths = document.getElementsByClassName("path");
			
		var svg = document.getElementById("svg4160");
			
		var paths = svg.getElementsByClassName("path");
			
		var actives = svg.getElementsByClassName("active");
		
		for (var i = 0; i < paths.length; i++) {			
			var cl = paths[i].getAttribute("class").replace(" active", "");
			paths[i].setAttribute("class", cl);
		}
    		
   		for (var i = 0; i < currentValue.length; i++){
   			if (currentValue[i].includes("radio")){
   				var current = document.getElementById("radio"); 
   			} else {
   				var current = document.getElementById(currentValue[i]);   				
   			}
   			var cl = current.getAttribute("class");
    			
   			if (!cl.includes("active")){
   				cl += " active";   				
   				current.setAttribute("class", cl);
    		}
    	}
	}
	
	function showTooltip(evt, text) {
		let tooltip = document.getElementById("tooltip");
		tooltip.innerHTML = text;
		tooltip.style.display = "block";
		tooltip.style.left = evt.pageX - 5 + 'px';
		//tooltip.style.top = evt.pageY + 3 + 'px';
	}

	function hideTooltip() {
		var tooltip = document.getElementById("tooltip");
		tooltip.style.display = "none";
	}   
		
	function load(text){
  		var a = JSON.parse(text);
    	
   		for (i of a) {
   			var x1 = i[0].tl.x;
   			var y1 = i[0].tl.y;
    		
   			var x2 = i[0].tr.x;
   			var y2 = i[0].tr.y;
    			
   			var x3 = i[0].br.x;
   			var y3 = i[0].br.y;
    		
   			var x4 = i[0].bl.x;
   			var y4 = i[0].bl.y;
    		
   			var nametag = i[4];  		
			
			var svg_string = "M "+ x1 + " " + y1 + " L " + x2 + " " + y2 + " L " + x3 + " " + y3 + " L " + x4 + " " + y4 + " L " + x1 + " " + y1;
			
			var svg = document.getElementsByTagName('svg')[0]; //Get svg element
						
			var pathElement = document.createElementNS("http://www.w3.org/2000/svg", "path"); 
			pathElement.setAttribute("title", nametag);
			pathElement.setAttribute("class", "path");
			pathElement.setAttribute("data-placement", "top");
			var s = "showTooltip(evt, '" + nametag + "');";
			pathElement.setAttribute("onmousemove", s);
			pathElement.setAttribute("onmouseout", "hideTooltip();");
				
			if (nametag.includes("LAN")) {
				s = "window.location.href='<% io.write(DISP.build_url("admin", "network", "network"))%>'";
			} else if (nametag.includes("WIFI")){
				s = "window.location.href='<% io.write(DISP.build_url("admin", "network", "wireless"))%>'";
				pathElement.setAttribute("id", "radio");
			}
								
			if (nametag.includes("LAN1")) {
					
				pathElement.setAttribute("id", "eth0");
				<% 
					local file = io.popen('cat /sys/class/net/eth0/carrier')
					local output = file:read('*all')
					local rc = {file:close()}
					
					local output2
					if output == "1\n" then%> <% end %>
						var pathElement1 = document.createElementNS("http://www.w3.org/2000/svg", "path"); 
						pathElement1.setAttribute("class", "path header");
						pathElement1.setAttribute("id", "eth0-header");
						pathElement1.setAttribute("data-placement", "top");
						var svg_string1 = "M "+ x1 + " " + y1 + " L " + x2 + " " + y2;
						pathElement1.setAttribute("d",svg_string1); //Set path's data	
					 	svg.appendChild(pathElement1);	
				}
				if (nametag.includes("LAN2")) {
					pathElement.setAttribute("id", "eth1");
					<% 
					local file = io.popen('cat /sys/class/net/eth1/carrier')
					local output = file:read('*all')
					local rc = {file:close()}
					
					local output2
					if output == "1\n" then%> <% end %>
						var pathElement2 = document.createElementNS("http://www.w3.org/2000/svg", "path"); 
						pathElement2.setAttribute("class", "path header");
						pathElement2.setAttribute("id", "eth1-header");
						pathElement2.setAttribute("data-placement", "top");
						var svg_string2 = "M "+ x1 + " " + y1 + " L " + x2 + " " + y2;
						pathElement2.setAttribute("d",svg_string2); //Set path's data	
					 	svg.appendChild(pathElement2);	
				}
				if (nametag.includes("LAN3")) {
					pathElement.setAttribute("id", "eth2");
					<% 
					local file = io.popen('cat /sys/class/net/eth2/carrier')
					local output = file:read('*all')
					local rc = {file:close()}
					
					local output2
					if output == "1\n" then%> <% end %>
						var pathElement3 = document.createElementNS("http://www.w3.org/2000/svg", "path"); 
						pathElement3.setAttribute("class", "path header");
						pathElement3.setAttribute("id", "eth3-header");
						pathElement3.setAttribute("data-placement", "top");
						var svg_string3 = "M "+ x1 + " " + y1 + " L " + x2 + " " + y2;
						pathElement3.setAttribute("d",svg_string3); //Set path's data	
					 	svg.appendChild(pathElement3);	
				}
				if (nametag.includes("LAN4")) {
					pathElement.setAttribute("id", "eth3");
					<% 
					local file = io.popen('cat /sys/class/net/eth3/carrier')
					local output = file:read('*all')
					local rc = {file:close()}
					
					local output2
					if output == "1\n" then%> <% end %>
						var pathElement4 = document.createElementNS("http://www.w3.org/2000/svg", "path"); 
						pathElement4.setAttribute("class", "path header");
						pathElement4.setAttribute("id", "eth4-header");
						pathElement4.setAttribute("data-placement", "top");
						var svg_string4 = "M "+ x1 + " " + y1 + " L " + x2 + " " + y2;
						pathElement4.setAttribute("d",svg_string4); //Set path's data	
					 	svg.appendChild(pathElement4);	
				}
	
				pathElement.setAttribute("onclick", s);
				
				pathElement.setAttribute("d",svg_string); //Set path's data	
						
				var title_tag = document.createElement("title");	
				var newContent = document.createTextNode(nametag); 
  				title_tag.appendChild(newContent);  
  				pathElement.appendChild(title_tag);
  				
 			
  				svg.appendChild(pathElement);	
			}	 
		}		
		
		function readJSON(path) {
			var xhr = new XMLHttpRequest();
        	xhr.open('GET', path, true);
        	xhr.responseType = 'blob';
        	xhr.onload = function(e) { 
          		if (this.status == 200) {
            		var file = new File([this.response], 'temp');
              		var fileReader = new FileReader();
              		fileReader.addEventListener('load', function(){
              			load(fileReader.result);  		
              		});
              		fileReader.readAsText(file);
          		} 
        	}
        	xhr.send();
    	}
		
</script>
		

