.img-container {
  width: 50%;
  margin: 0 auto;
}
path {
  fill: transparent;
  transition: 0.1s;
  stroke: transparent;
  stroke-width: 6px;
  cursor: pointer
}
path.connected {
	fill: #90f090;
	opacity: 0.5;
}
path.header {
	stroke: #DCDCDC;
  	stroke-width: 6px;
	fill: #DCDCDC;
}
path.active, path:hover {
  fill: grey;
  opacity: 0.5;
}

#tooltip {
  position: absolute;
  display: none;
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
}
